* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
  display: grid;
  place-items: center;
  text-align: center;
  color: #34355b;
}

img {
  width: 100%;
  object-fit: cover;
}

.screen-01,
.screen-02 {
  width: min(42.8rem, 90%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.6rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.8);
}

.hide {
  display: none;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.screen-01 p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  margin-top: 1.4rem;
}

.vibrate-3:hover {
  cursor: pointer;
  -webkit-animation: vibrate-3 0.5s linear infinite both;
  animation: vibrate-3 0.5s linear infinite both;
}

.screen-02 p {
  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;
  background: #e4edf1;
  padding: 0.1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0px rgba(85, 85, 85, 0.5);
  animation: textUp 1s forwards;
}

button {
  padding: 1.6rem;
  border-radius: 0.4rem;
  background: #ff9500;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes textUp {
  0% {
    transform: translateY(200%) scale(0);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

/* gradiente background */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* animação cookie */
@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* animação cookie */
@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
